.Navbar {
  background-color: var(--main-green);
  height: 74px;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoDiv{
  display: flex;
  margin: 14px;
}
